nginx/keys/*
.DS_Store
**__debug_bin**
database/data/
.env

openssl/jwtKeys/
config/auth.env
config/app.env
auth/src/assets/icons/*
!auth/src/assets/icons/readme.md
dashboard/src/node_modules/
dashboard/src/.next/
auth/src/tmp/
app/src/tmp/
