pocketbase_custom/pbdata/
*.db
nginx/keys/
databases/
pocketbase_custom/pbdata/
.DS_Store
pocketbase_custom/src/pb_data/
.env
pocketbase_custom/src/vendor/
*__debug_bin*
pocketbase_custom/src/public_key.pem
pocketbase_custom/src/private_key.pem
